.controls {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  // grid-gap: 10px;
  border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
  background-color: var(--controls-bg-color);
  padding: 20px 0;
}

.bookmark {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  color: var(--text-color-contrast-3);
  // cursor: pointer;
  pointer-events: none;
}

.icons {
  grid-row: 1;
  grid-column: 2 / 6;
  // justify-self: center;
  align-self: center;
  color: var(--text-color-contrast-3);
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 25px;

  .iconMedium {
    color: var(--text-color-contrast-3);
    // cursor: pointer;
    font-size: var(--font-size-xxxl);
    pointer-events: none;
  }

  .iconLarge {
    color: var(--text-color-contrast-2);
    cursor: pointer;
    font-size: var(--font-size-xxxxl);
  }
}

.speed {
  grid-row: 1;
  grid-column: 6;
  justify-self: center;
  align-self: center;
  color: var(--text-color-contrast-3);
  cursor: pointer;
}

.fromTime {
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  color: var(--text-color-contrast-3);
}

.progressBar {
    grid-row: 2;
    grid-column: 2 / 6;
    align-self: center;
}

.toTime {
  grid-row: 2;
  grid-column: 6;
  justify-self: center;
  align-self: center;
  color: var(--text-color-contrast-3);
}