:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  /* color-scheme: light dark; */

  --border-radius-large: 10px;
  --border-radius-medium: 5px;

  /* Light theme ****************************************/
  --primary-color-light: hsl(179, 51%, 39%);

  --bg-color-hue-light: 210;
  --text-color-hue-light: 216;
  
  --body-bg-color-light: hsl(var(--bg-color-hue-light), 24%, 84%);
  --header-bg-color-light: hsl(var(--bg-color-hue-light), 32%, 91%);
  --page-bg-color-light: hsl(var(--bg-color-hue-light), 33%, 98%);
  --search-bg-color-light: hsl(var(--bg-color-hue-light), 33%, 95%);
  --controls-bg-color-light: hsl(0, 0%, 100%);
  
  /* Text color variants */
  --text-color-contrast-1-light: hsl(var(--text-color-hue-light), 17%, 35%);
  --text-color-contrast-2-light: hsl(var(--text-color-hue-light), 23%, 23%);
  --text-color-contrast-3-light: hsl(var(--text-color-hue-light), 15%, 52%);
  --text-color-contrast-4-light: hsl(var(--text-color-hue-light), 33%, 95%);
  
  /* --light-text-color: #444444;
  --light-bg-color: #eaeaea;
  --light-button-bg-color: #424242; */
  
  /* Light theme ****************************************/
  --primary-color-dark: hsl(173, 66%, 70%);

  --bg-color-hue-dark: 216;
  --text-color-hue-dark: 0;
  
  --body-bg-color-dark: hsl(220, 26%, 14%);
  --header-bg-color-dark: hsl(var(--bg-color-hue-dark), 23%, 23%);
  --page-bg-color-dark: hsl(var(--bg-color-hue-dark), 19%, 28%);
  --search-bg-color-dark: hsl(var(--bg-color-hue-dark), 23%, 23%);
  --controls-bg-color-dark: hsl(220, 17%, 35%);
  
  /* Text color variants */
  --text-color-contrast-1-dark: hsl(var(--text-color-hue-dark), 0%, 100%);
  --text-color-contrast-2-dark: hsl(var(--text-color-hue-dark), 0%, 84%);
  --text-color-contrast-3-dark: hsl(var(--text-color-hue-dark), 0%, 52%);
  --text-color-contrast-4-dark: hsl(var(--text-color-hue-dark), 0%, 95%);

  /* --dark-text-color: #9e9e9e;

  --dark-bg-color: #2e2e2e;
  --dark-button-bg-color: #4068ce; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Themes colors ********************/

body.light-theme {
  --body-bg-color: var(--body-bg-color-light);
  --header-bg-color: var(--header-bg-color-light);
  --page-bg-color: var(--page-bg-color-light);
  --search-bg-color: var(--search-bg-color-light);
  --controls-bg-color: var(--controls-bg-color-light);

  /* Text color variants */
  --text-color-contrast-1: var(--text-color-contrast-1-light);
  --text-color-contrast-2: var(--text-color-contrast-2-light);
  --text-color-contrast-3: var(--text-color-contrast-3-light);
  --text-color-contrast-4: var(--text-color-contrast-4-light);

  /* --text-color: var(--light-text-color);
  --bg-color: var(--light-bg-color); */

  --button-bg-color: var(--header-bg-color-light);
}
/* Dark theme colors */
body.dark-theme {
  --body-bg-color: var(--body-bg-color-dark);
  --header-bg-color: var(--header-bg-color-dark);
  --page-bg-color: var(--page-bg-color-dark);
  --search-bg-color: var(--search-bg-color-dark);
  --controls-bg-color: var(--controls-bg-color-dark);

  /* Text color variants */
  --text-color-contrast-1: var(--text-color-contrast-1-dark);
  --text-color-contrast-2: var(--text-color-contrast-2-dark);
  --text-color-contrast-3: var(--text-color-contrast-3-dark);
  --text-color-contrast-4: var(--text-color-contrast-4-dark);
  /* --text-color: var(--dark-text-color);
  --bg-color: var(--dark-bg-color); */

  --button-bg-color: var(--header-bg-color-dark);
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body.dark-theme {
    --body-bg-color: var(--body-bg-color-dark);
    --header-bg-color: var(--header-bg-color-dark);
    --page-bg-color: var(--page-bg-color-dark);
    --search-bg-color: var(--search-bg-color-dark);
    --controls-bg-color: var(--controls-bg-color-dark);

    /* Text color variants */
    --text-color-contrast-1: var(--text-color-contrast-1-dark);
    --text-color-contrast-2: var(--text-color-contrast-2-dark);
    --text-color-contrast-3: var(--text-color-contrast-3-dark);
    --text-color-contrast-4: var(--text-color-contrast-4-dark);
    /* --text-color: var(--dark-text-color);
    --bg-color: var(--dark-bg-color); */

    --button-bg-color: var(--header-bg-color-dark);
  }
  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --body-bg-color: var(--body-bg-color-light);
    --header-bg-color: var(--header-bg-color-light);
    --page-bg-color: var(--page-bg-color-light);
    --search-bg-color: var(--search-bg-color-light);
    --controls-bg-color: var(--controls-bg-color-light);

    /* Text color variants */
    --text-color-contrast-1: var(--text-color-contrast-1-light);
    --text-color-contrast-2: var(--text-color-contrast-2-light);
    --text-color-contrast-3: var(--text-color-contrast-3-light);
    --text-color-contrast-4: var(--text-color-contrast-4-light);
    /* --text-color: var(--light-text-color);
    --bg-color: var(--light-bg-color); */

    --button-bg-color: var(--header-bg-color-light);
  }
}

/* --body-bg-color: #cbd5df;

  --header-bg-color: #e2e8f0;
  --header-text-color: #2d3848;

  --nav-selected-bg-color: #f7fafb;
  --nav-selected-text-color: #2d3848;
  --nav-not-selected-text-color: #4a5568;

  --page-bg-color: #f7fafb;

  --search-bg-color: #edf1f6;
  --search-bg-border-color: #e2e8f0;
  --search-text-color: #718096;

  --audio-item-text-dark-color: #2d3848;
  --audio-item-text-medium-color: #2d3848;
  --audio-item-text-light-color: #2d3848;
  --audio-item-border-color: #f7fafb;

  --controls-bg-color: #fefefe;
  --audio-item-text-dark-color: #2d3848;
  --audio-item-text-medium-color: #2d3848; */
