:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;

  --border-radius-large: 10px;
  --border-radius-medium: 5px;

  /* Font sizes ****************************************/
  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-xxxxl: 2.5rem;
  

  /* Light theme ****************************************/
  --primary-color-light: hsl(179, 51%, 39%);
  
  --shadow-hsl-light: 0, 0%, 42%;

  --bg-color-hue-light: 210;
  --text-color-hue-light: 216;
  
  --body-bg-color-light: hsl(var(--bg-color-hue-light), 24%, 84%);
  --header-bg-color-light: hsl(var(--bg-color-hue-light), 32%, 91%);
  --page-bg-color-light: hsl(var(--bg-color-hue-light), 33%, 98%);
  --search-bg-color-light: hsl(var(--bg-color-hue-light), 33%, 95%);
  --controls-bg-color-light: hsl(0, 0%, 100%);
  
  /* Text color variants */
  --text-color-contrast-1-light: hsl(var(--text-color-hue-light), 17%, 30%);
  --text-color-contrast-2-light: hsl(var(--text-color-hue-light), 17%, 45%);
  --text-color-contrast-3-light: hsl(var(--text-color-hue-light), 17%, 60%);
  --text-color-contrast-4-light: hsl(var(--text-color-hue-light), 17%, 75%);
  --text-color-contrast-5-light: hsl(var(--text-color-hue-light), 17%, 90%);


  /* Dark theme ****************************************/
  --primary-color-dark: hsl(173, 66%, 70%);

  --shadow-hsl-dark: 0, 0%, 0%;

  --bg-color-hue-dark: 216;
  --text-color-hue-dark: 0;
  
  --body-bg-color-dark: hsl(220, 26%, 14%);
  --header-bg-color-dark: hsl(var(--bg-color-hue-dark), 23%, 23%);
  --page-bg-color-dark: hsl(var(--bg-color-hue-dark), 19%, 28%);
  --search-bg-color-dark: hsl(var(--bg-color-hue-dark), 23%, 23%);
  --controls-bg-color-dark: hsl(220, 17%, 35%);
  
  /* Text color variants */
  --text-color-contrast-1-dark: hsl(var(--text-color-hue-dark), 0%, 100%);
  --text-color-contrast-2-dark: hsl(var(--text-color-hue-dark), 0%, 85%);
  --text-color-contrast-3-dark: hsl(var(--text-color-hue-dark), 0%, 70%);
  --text-color-contrast-4-dark: hsl(var(--text-color-hue-dark), 0%, 55%);
  --text-color-contrast-5-dark: hsl(var(--text-color-hue-dark), 0%, 40%);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Themes colors ********************/

body.light-theme {
  --primary-color: var(--primary-color-light);

  --shadow-hsl: var(--shadow-hsl-light);

  --body-bg-color: var(--body-bg-color-light);
  --header-bg-color: var(--header-bg-color-light);
  --page-bg-color: var(--page-bg-color-light);
  --search-bg-color: var(--search-bg-color-light);
  --controls-bg-color: var(--controls-bg-color-light);

  /* Text color variants */
  --text-color-contrast-1: var(--text-color-contrast-1-light);
  --text-color-contrast-2: var(--text-color-contrast-2-light);
  --text-color-contrast-3: var(--text-color-contrast-3-light);
  --text-color-contrast-4: var(--text-color-contrast-4-light);
  --text-color-contrast-5: var(--text-color-contrast-5-light);

  /* --text-color: var(--light-text-color);
  --bg-color: var(--light-bg-color); */

  --button-bg-color: var(--header-bg-color-light);
}
/* Dark theme colors */
body.dark-theme {
  --primary-color: var(--primary-color-dark);

  --shadow-hsl: var(--shadow-hsl-dark);

  --body-bg-color: var(--body-bg-color-dark);
  --header-bg-color: var(--header-bg-color-dark);
  --page-bg-color: var(--page-bg-color-dark);
  --search-bg-color: var(--search-bg-color-dark);
  --controls-bg-color: var(--controls-bg-color-dark);

  /* Text color variants */
  --text-color-contrast-1: var(--text-color-contrast-1-dark);
  --text-color-contrast-2: var(--text-color-contrast-2-dark);
  --text-color-contrast-3: var(--text-color-contrast-3-dark);
  --text-color-contrast-4: var(--text-color-contrast-4-dark);
  --text-color-contrast-5: var(--text-color-contrast-5-dark);
  /* --text-color: var(--dark-text-color);
  --bg-color: var(--dark-bg-color); */

  --button-bg-color: var(--header-bg-color-dark);
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body.dark-theme {
    --primary-color: var(--primary-color-dark);

    --shadow-hsl: var(--shadow-hsl-dark);

    --body-bg-color: var(--body-bg-color-dark);
    --header-bg-color: var(--header-bg-color-dark);
    --page-bg-color: var(--page-bg-color-dark);
    --search-bg-color: var(--search-bg-color-dark);
    --controls-bg-color: var(--controls-bg-color-dark);

    /* Text color variants */
    --text-color-contrast-1: var(--text-color-contrast-1-dark);
    --text-color-contrast-2: var(--text-color-contrast-2-dark);
    --text-color-contrast-3: var(--text-color-contrast-3-dark);
    --text-color-contrast-4: var(--text-color-contrast-4-dark);
    --text-color-contrast-5: var(--text-color-contrast-5-dark);
    /* --text-color: var(--dark-text-color);
    --bg-color: var(--dark-bg-color); */

    --button-bg-color: var(--header-bg-color-dark);
  }
  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --primary-color: var(--primary-color-light);

    --shadow-hsl: var(--shadow-hsl-light);

    --body-bg-color: var(--body-bg-color-light);
    --header-bg-color: var(--header-bg-color-light);
    --page-bg-color: var(--page-bg-color-light);
    --search-bg-color: var(--search-bg-color-light);
    --controls-bg-color: var(--controls-bg-color-light);

    /* Text color variants */
    --text-color-contrast-1: var(--text-color-contrast-1-light);
    --text-color-contrast-2: var(--text-color-contrast-2-light);
    --text-color-contrast-3: var(--text-color-contrast-3-light);
    --text-color-contrast-4: var(--text-color-contrast-4-light);
    --text-color-contrast-5: var(--text-color-contrast-5-light);
    /* --text-color: var(--light-text-color);
    --bg-color: var(--light-bg-color); */

    --button-bg-color: var(--header-bg-color-light);
  }
}