:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --light-text-color: #444444;
  --light-bkg-color: #eaeaea;
  --light-button-bkg-color: #424242;

  --dark-text-color: #9e9e9e;
  --dark-bkg-color: #2e2e2e;
  --dark-button-bkg-color: #4068ce;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Themes colors ********************/

body.light-theme {
  --text-color: var(--light-text-color);
  --bkg-color: var(--light-bkg-color);

  --button-bkg-color: var(--light-button-bkg-color);
}
/* Dark theme colors */
body.dark-theme {
  --text-color: var(--dark-text-color);
  --bkg-color: var(--dark-bkg-color);

  --button-bkg-color: var(--dark-button-bkg-color);
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body.dark-theme {
    --text-color: var(--dark-text-color);
    --bkg-color: var(--dark-bkg-color);

    --button-bkg-color: var(--dark-button-bkg-color);
  }
  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --text-color: var(--light-text-color);
    --bkg-color: var(--light-bkg-color);

    --button-bkg-color: var(--light-button-bkg-color);
  }
}
